{% extends 'base.html' %}

{% block content %}
	제목: {{ info.title }}
	<br>
	전체 페이지 수: {{ info.pageTotal }}
	<br>

	<form method="post">
		{{ record_form.as_p }}
		{% csrf_token %}
		<button type="submit" id="submit-value" class="btn btn-primary" name="submit-record">기록 저장</button>
	</form> <br><br>

	<!-- <script> // $(document).ready() allows us to execute a function when the document is fully loaded.
		// document.querySelector('input').addEventListener('click', function(event){
		// 	var xhr = new XMLHttpRequest();
		// 	xhr.open('GET', )
		// })
		var subValue = $("#submit-value").val();
		var subDate = $("").val();

		$.ajax({
			url: '/record/<int:num>',
			data: {
				'submitPage':subValue,
				'rdate':
		}
		})
	</script> -->

	<!-- <h2>{{ text }}</h2><br> -->

	<li> 날짜 | 페이지 </li>
	{% for record in recordList %}
	<li> record.rdate | record</li> 
	{% endfor %}

{% endblock %}